html * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div.contenedor {
    width: 90%;
    margin: 5vh auto;
    height: 70vh;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    width: 100%;
    background-color: blue;
    color: white;
    height: 15vh;
    display:flex;
    align-items: center;
    justify-content: space-around;
}

div.userLinks {
    display: flex;
    align-items: center;

}

div.userLinks img {
    width: 5vw;
}

.links {
    color: white;
    font-weight: bold;
    margin-left: 5vw;
    font-size: 25px;
}

.contenedor.formulario, form {
    display: flex;
    flex-direction: column;
}

input, button {
    padding: 3vh 5vw;
    width: 30vw;
    font-size: 30px;
}